@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fffbf5;
}

* {
  scroll-behavior: smooth;
}

*::selection {
  background-color: #0e0e0e;
  color: #fffbf5;
}

#about *::selection,
#skills *::selection {
  background-color: #fffbf5;
  color: #0e0e0e;
}
